@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.error{
  background-color:rgb(255 219 219);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.error-text{
  color: red;
  font-family: sans-serif;
  top: 7px;
  position: relative;
}
.font-100{
  font-weight: 100;
}
.font-200{
  font-weight: 200;
}
.font-300{
  font-weight: 300;
}
.font-400{
  font-weight: 400;
}
.font-500{
  font-weight: 500;
}
.font-600{
  font-weight: 600;
}
.font-bold{
  font-weight: bold;
}
